Specialization {display: block; border: 2px dashed black; text-align: center; padding:20px; margin: 20px}
Name {display: block; border:1px solid black; margin:10px; font-style: italic}
Mark {display: block; border:1px solid black; margin:10px}
Students {display: block; border:1px solid black; margin:10px}
City {display: block; border:1px solid black; margin:10px; font-weight: bold}
University{display: block; border: 2px solid green}

